<%- include ('partials/header.ejs') %>

<h1>Página de Filmes de Romance</h1>
    <hr />
    <h3>Lista de top 5 melhores filmes de romance:</h3>
    
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Número:</th>
          <th>Nome:</th>
          <th>Atores principais:</th>
        </tr>
      </thead>
      <Tbody>
        <!-- FOREACH -->
        <% romance.forEach(romance => { %>
        <tr>
            <td><%= romance.numero %></td>
            <td><%= romance.nome %></td>
            <td><%= romance.ator %></td>
        </tr>
        <% }) %>
      </Tbody>
    </table>
    <a href="/">Voltar</a>
<%- include ('partials/footer.ejs') %>