    <%- include ('partials/header.ejs') %>
   
   <h1>Página de Clientes</h1>
    <hr />
    <h3>Lista de clientes:</h3>
    
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nome:</th>
          <th>CPF:</th>
          <th>Endereço:</th>
        </tr>
      </thead>
      <Tbody>
        <!-- FOREACH -->
        <% clientes.forEach(cliente => { %>
        <tr>
            <td><%= cliente.nome %></td>
            <td><%= cliente.cpf %></td>
            <td><%= cliente.endereco %></td>
        </tr>
        <% }) %>
      </Tbody>
    </table>
    <a href="/">Voltar</a>
 <%- include ('partials/footer.ejs') %>
